@charset "UTF-8";

/* 全体 */
body {
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

/* ヘッダー */
h1 {
    color: red;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 400;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #222222;
}

.login-info {
    text-align: right;
    margin-bottom: 10px;
}

.login-info p {
    margin: 0;
}

.login-info div {
    color: #222222;
    margin-right: 10px;
}


/* フッター */
footer {
   position: static;
   text-align: right;
   margin-right: 15px;
}

