@charset "UTF-8";

/* 全体 */
body {
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}


/* リンク表示領域 */
section {
    margin-top: 50px;
    margin-left: 30px;
}

a {
    display: inline-block;
    font-size: 23px;
    text-decoration: none;
    border-bottom: 1px solid #222222;
    padding-bottom: 6px;
}

.search-link, .delete-link {
    margin-right: 50px;
}

.search-link, .register-link {
    margin-bottom: 50px;
}