@charset "UTF-8";

header {
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
}

header h1 {
	color: red;
}

.session {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.login_time {
	display: flex;
	gap: 15px;
}

main {
	width: 100%;
	display: flex;
	justify-content: center;
	justify-items: center;
}

.input_line {
	width: 100%;
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input_line label,
.input_line_check .label {
	width: 200px;
	font-size: 20px;
	margin-right: 10px;
	text-align: left;
}

.input_line_check .value {
	flex: 1;
}

.input_line input,
.input_line_check span {
	padding: 5px 10px;
	box-sizing: border-box;
	font-size: 20px;
}

.input_button {
	width: 200px;
	height: 30px;
	margin: 0 50px;
}

.container{
	width: 800px;
	height: 600px;
	margin: 0 auto;
	text-align: center;
}

form p,
p.copyright {
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: end;
}

form p .check_msg {
	width: 100%;
	text-align: center;
	display: block;
	padding-top: 5px;
}

.result_msg {
	font-size: large;
	font-weight: bold;
	margin: 150px;
}

.buttons {
	display: flex;
	justify-content: center;
	width: 800px;
	gap: 20px;
	padding-top: 30px;
	border-top: 1px black solid;
}

.input_button_like {
	display: inline-block;
	width: 200px;
	margin: 0 75px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 2px solid black;
	font-size: 16px;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.input_button_like:hover {
	background-color: #ddd;
}

.input_button_like {
	width: 200px;
	height: 30px;
	margin: 0 200px;
}

.delete_line {
	margin-bottom: 200px;
}

.orange_button {
	background-color: orange;
}

.container {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.delete_info {
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.delete_result {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.delete_result_contain {
	width: 800px;
	padding: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.result_msg {
	font-size: 20px;
	font-weight: bold;
	margin: 50px 0;
}

.result_button {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 30px;
}

.result_button .input_button_like {
	width: 200px;
}

.form_top{
	margin: 30px;
	margin-top: 50px;
}

.form_column {
	display: flex;
	flex-direction: column;
}