<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>共通化</title>

</head>
<body>
    <div class="wrapper">
        <header th:fragment="header(title, name, loginDateTime)">
            <div class="flexbox">
                <h1 th:text="${title}"></h1>
        
                <div class="login-info">
                    <div>
                        <p><span th:text="${name}">菅原</span>さん</p>
                    </div>
            
                    <div>
                        <p th:text="${loginDateTime}">2025/08/19 19:00</p>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>
</html>