<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>社員登録情報（確認）</title>
	<link rel="stylesheet" th:href="@{/style0305.css}">
</head>

<body>

	<header>
		<h1>社員登録情報（確認）</h1>
		<div class="session">
			<p><span th:text="${name}">菅原</span>さん</p>
			<div class="login_time">
				<p><span th:text="${loginDateTime}">2025/08/19 19:00</span></p>
			</div>
		</div>
	</header>

	<main>

		<form action="/employee/insert" method="post">
			<div class="input_line_check">
				<span class="label">社員名</span> <span th:text="${Employee.name}"></span>
				<input type="hidden" name="name" th:value="${Employee.name}" /><br>
			</div>
			<div class="input_line_check">
				<span class="label">年齢</span> <span th:text="${Employee.age}"></span>
				<input type="hidden" name="age" th:value="${Employee.age}" /><br>
			</div>
			<div class="input_line_check">
				<span class="label">パスワード</span> <span
					th:text="${#strings.repeat('⚫︎',Employee.password.length())}"></span>
				<input type="hidden" name="password" th:value="${Employee.password}" /><br>
			</div>
			<div class="input_line_check">
				<span class="label">パスワード確認</span> <span
					th:text="${#strings.repeat('⚫︎',Employee.password_check.length())}"></span>
				<input type="hidden" name="password_check" th:value="${Employee.password_check}" /><br>
			</div>
			<p class="copyright">Copyright &copy; 2025 JavaStudy Team C</p>
			<p class="check_msg">これで登録します。よろしいですか？</p>
			<div class="buttons">
				<input type="submit" value="登録" class="input_button orange_button">
				<input type="button" onclick=history.back() class="input_button" value="戻る">
			</div>
		</form>



	</main>



</body>

</html>