<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>社員登録情報（入力）</title>
	<link rel="stylesheet" href="/style0305.css">
	<script src="/js/form-validator.js"></script>

	<script>
		function validateNumberInput(input) {
			input.value = input.value.replace(/[^0-9]/g, "");
		}
		function validatePassInput(input) {
			input.value = input.value.replace(/[^a-zA-Z0-9]/g, "");
		}

	</script>
	<script th:if="${passwordUnmatch != null}">
		alert('[[${passwordUnmatch}]]');
	</script>
	<script th:if="${passwordFormError != null}">
		alert('[[${passwordFormError}]]');
	</script>

</head>

<body>

	<header>
		<h1>社員登録情報（入力）</h1>
		<div class="session">
			<p>ログイン者名 <span th:text="${name}"></span></p>
			<div class="login_time">
				<p>ログイン日時<span th:text="${loginDatetime}"></span></p>
			</div>
			<!-- <div>
			                     <p><span th:text="${name}">菅原</span>さん</p>
			                 </div>
			         
			                 <div>
			                     <p th:text="${loginDateTime}">2025/08/19 19:00</p>
			</div> -->

		</div>
	</header>

	<main>

		<form action="/employee/insert_check" th:object="${Employee}" method="post">
			<div class="input_line">
				<label>社員名</label> <input type="text" name="name" th:field="*{name}" title="氏名を入力して下さい。" required
					autofocus>
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
			</div><br>
			<div class="input_line">
				<label>年齢 </label><input type="text" name="age" th:value="${Employee.age == 0 ? '': Employee.age}"
					oninput="validateNumberInput(this)" title="年齢を入力して下さい。" required>
				<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
			</div> <br>
			<div class="input_line">
				<label>パスワード</label> <input type="password" name="password" th:field="*{password}" minlength="8"
					oninput="validatePassInput(this)" title="半角英数字で入力して下さい。" required>
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
			</div><br>
			<div class="input_line">
				<label>パスワード確認</label> <input type="password" name="password_check" th:field="*{password_check}"
					minlength="8" oninput="validatePassInput(this)" title="半角英数字で入力して下さい。" required>
				<div th:if="${#fields.hasErrors('password_check')}" th:errors="*{password_check}"></div>
			</div><br>

			<p class="copyright">Copyright &copy; 2025 JavaStudy Team C</p>
			<div class="buttons">
				<input type="submit" value="確認" class="input_button orange_button">
				<input type="button" onclick="location.href='/employee/mainMenu'" value="戻る" class="input_button">
			</div>
		</form>




	</main>

</body>

</html>