<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ダミーログイン画面</title>
	<link rel="stylesheet" href="/style0305.css">
</head>

<body>

	<main>
		<div class="container">
			<form action="/employee/mainMenu" th:object="${Employee}" method="post">
				<div class="input_line">
					<label>社員ID</label> <input type="text" name="id" th:field="*{id}" title="IDを入力して下さい。" required
						autofocus>
				</div><br>
				<div class="input_line">
					<label>社員名 </label><input type="text" name="name" th:field="*{name}" title="名前を入力して下さい。" required>
				</div> <br>
				<div class="input_line">
					<label>パスワード</label> <input type="password" name="password" th:field="*{password}" minlength="8"
						title="半角英数字で入力して下さい。" required>
				</div>
				<p class="copyright">Copyright &copy; 2025 JavaStudy Team C</p>
				<div class="buttons">
					<input type="submit" value="ログイン" class="input_button orange_button">
				</div>
			</form>
		</div>




	</main>

</body>

</html>